/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  --primary: #f5e5cd;
  --primary-content: #a26e21;
  --primary-dark: #eccfa2;
  --primary-light: #fdfbf7;

  --secondary: #cdf5d1;
  --secondary-content: #21a22d;
  --secondary-dark: #a2ecaa;
  --secondary-light: #f7fdf8;

  --background: #f0f0ef;
  --foreground: #fbfbfb;
  --border: #e1dfde;

  --copy: #282724;
  --copy-light: #6b6761;
  --copy-lighter: #928d87;

  --header: #f0f0f2;

  --aboutme-bg: linear-gradient(135deg, #ff9a9e 0%, #fecfef 100%);
  --skills-bg: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
  --projects-bg: linear-gradient(135deg, #d4fc79 0%, #96e6a1 100%);
  --contact-bg: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%);
  --extra-bg: linear-gradient(135deg, #fdd6bd 0%, #f7c5a0 100%);
}

/* Font */
@font-face {
  font-family: Banchero;
  src: url("/public/font/Banchero-Bold.otf");
}
@font-face {
  font-family: MyScharf;
  src: url("/public/font/MyScharf.otf");
}
* {
  font-family: Banchero;
}
header h1 {
  font-family: MyScharf;
}

/* Main */
html {
  scroll-behavior: smooth;
}

body {
  transition: background 2s ease; /* Longer and smoother transition */
  background-blend-mode: multiply;
}

/* Header */
#main-header {
  padding: 20px;
  position: sticky;
  top: 0;
  width: 100%;
  height: 10em;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    var(--header),
    var(--header),
    var(--header),
    rgba(0, 0, 0, 0)
  );
  z-index: 1000; /* Ensure the header stays on top */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: calc(10em / 8); /* Adjust this value to move the content up */
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-item {
  position: relative;
  z-index: 1;
  background-color: var(--header);
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.nav-item h1 {
  font-size: 3em;
}
.nav-item a {
  text-decoration: none;
  color: var(--copy);
  font-size: 1.3em;
}
.hover-effect {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.hover-effect::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #000;
  bottom: 0;
  margin-bottom: -5px;
  left: 50%;
  transition: width 0.4s ease, left 0.4s ease;
}

/* Hover effect */
.hover-effect:hover::after {
  width: 100%;
  left: 0;
}

.line {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  height: 3px;
  background-color: black;
  z-index: 0;
  transform: translateY(-50%);
}

section {
  scroll-snap-align: start;
}

#Skills-Section,
#Project-Section {
  height: 100vh;
}

html,
body {
  scroll-snap-type: y proximity;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
