/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  --primary: #f5e5cd;
  --primary-content: #a26e21;
  --primary-dark: #eccfa2;
  --primary-light: #fdfbf7;

  --secondary: #cdf5d1;
  --secondary-content: #21a22d;
  --secondary-dark: #a2ecaa;
  --secondary-light: #f7fdf8;

  --background: #f0f0ef;
  --foreground: #fbfbfb;
  --border: #e1dfde;

  --copy: #282724;
  --copy-light: #6b6761;
  --copy-lighter: #928d87;

  --success: #cdf5cd;
  --warning: #f5f5cd;
  --error: #f5cdcd;
  --success-content: #21a221;
  --warning-content: #a2a221;
  --error-content: #a22121;
}

/* Font */
@font-face {
  font-family: Banchero;
  src: url("/public/font/Banchero-Bold.otf");
}
* {
  font-family: Banchero;
}

/* Main */
html {
  background-color: var(--primary);
  scroll-behavior: smooth;
}

/* Header */
#main-header {
  padding: 20px;
  position: sticky;
  top: 0;
  width: 100%;
  height: 5em;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(to bottom, #fff, #fff, #fff, rgba(0, 0, 0, 0));
  z-index: 1000; /* Ensure the header stays on top */
}

#main-nav {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  position: relative;
  align-items: center;
}

.nav-item {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
  z-index: 0;
  transform: translateY(-50%);
}

/* Sections with scroll snapping */
section {
  scroll-snap-align: start;
}

#Skills-Section,
#Project-Section {
  height: 100vh; /* Ensure sections take up the full viewport height */
}

html,
body {
  scroll-snap-type: y mandatory;
}
