/* Colors */
*{
   
}

/* Font */
@font-face {
    font-family: Banchero;
    src: url("/public/font/Banchero-Bold.otf");
}
*{
    font-family: Banchero;
}

/* Main */

html{
    background-color: var(--primary);
}

/* Header */
header nav{
    border-bottom: black 2px solid;
}

/* Button */